.video {
  display: flex;
  transition: 0.2s;
  // margin-left: -158px;
}

.video__left {
  margin-right: 10px;
  max-width: 800px;
  margin-right: 20px;
}

.video__left__img {
  border-radius: 14px;
}

.video__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
  margin-bottom: 38px;
  padding-bottom: 15px;
}

.video__hero__left {
  margin-top: 20px;
}

.video__hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #192646;
  text-transform: capitalize;
  padding-left: 10px;
  margin-bottom: 10px;
}

.video__hero__views {
  padding: 0 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #c2c2c2;
}

.video__hero__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  width: 100%;
  margin-top: 68px;
}

.video__hero__item {
  &:hover {
    background-color: rgba($color: #ebebeb, $alpha: 0.8);
    cursor: pointer;
  }
  &:active {
    color: red;
    background-color: rgba($color: #afa6a6, $alpha: 1);
  }

  & {
    background-color: rgba($color: #ebebeb, $alpha: 0.3);
    mix-blend-mode: normal;
    border-radius: 20px;
    padding: 10px 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  &::before {
    content: "";
    width: 14px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 14px 13px;
    background-position: left 0 center;
    margin: auto 0;
    margin-right: 8px;
  }

  &:nth-child(1)::before {
    background-image: url("..//..//Assets/Images/svg/like.svg");
  }
  &:nth-child(2)::before {
    background-image: url("..//..//Assets/Images/svg/unlike.svg");
    vertical-align: middle;
  }
  &:nth-child(3)::before {
    background-image: url("..//..//Assets/Images/svg/more.svg");
    vertical-align: middle;
  }

  &:nth-child(4) {
    background-color: transparent;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    padding: 0;
    padding-bottom: 10px;
    margin-right: 0;
    &::before {
      display: none;
    }
  }
}

.video__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video__bottom__left {
  display: flex;
  max-width: 630px;
}

.video__bottom__videoFood {
  margin-right: 12px;
}

.video__bottom__title {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
  margin-bottom: 4px;
}

.video__bottom__span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.video__bottom__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin: 0;
  margin-bottom: 15px;
}

.video__bottom__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #c2c2c2;
}

.video__bottom__subs-link {
  max-width: 180px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #ff0000;
  border-radius: 20px;
  margin-bottom: auto;
  padding: 10px 20px;
  margin-right: 0;
}

.video__list {
  overflow-y: auto;
  height: 1200px;
}

.video__item {
  cursor: pointer;
  & + & {
    margin-top: 10px;
  }
}

.video__right__top {
  width: 100%;
  display: flex;
  align-items: center;
}

.video__right__title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #19202c;
  margin-bottom: 10px;
  margin-right: 55px;
  padding-left: 10px;
}

.video__right__span {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #19202c;
  &::after {
    content: "";
    display: inline-block;
    width: 44px;
    height: 28px;
    background-image: url("..//..//Assets/Images/svg/autoplay.svg");
    background-size: 44px 28px;
    background-position: left 0 center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 15px;
  }
}

.video__item__img {
  transition: 0.2s;
  border-radius: 14px;
}

.video__item__title {
  margin: 0;
  padding: 0 15px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #19202c;
  text-transform: capitalize;
}

.video__item__follow {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 5px;
  line-height: 23px;
  color: #c2c2c2;
}
